*,body
{
  background-color:#f5f5f5;
}
#sign_form
{
  /* border:2px solid red; */
  width:60%;
  /* height:40px; */
  margin:0;
  padding:0;
}
#sigin_logo
{
  width:50%;
  margin:150px 0 0 0;
  padding:0;
}

.sign_inp
{
  border-radius:2em;
}